
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Message</h2>
<p><b>Current Date & Time:</b>
    @ViewBag.CurrentDate</p>


<h3>Fruits List: </h3>
<ul>
    @foreach (var item in
        ViewBag.fruitsArray)
            {
                <li>@item</li>
            }
</ul>

